*{
  padding: 0%;
  margin: 0;
}

#homePage-poster {
  height: 70vh;
  background-image: url("./utils/homePage-poster2.jpg");
  color: white;
  text-align: center;
  
  /* padding-top: 60px; */
  box-sizing: border-box;
  
}

#container1{
/* background-color: aqua; */
position: relative;
top: 30%;
}

#homePage-mainHeading {
  font-size: 50px;
  margin-bottom: 20px;
}


#homePage-mainHeading + p {
  font-size: 20px;
  margin-bottom: 20px;
}

.btn{
  padding: 10px 20px;
  border-radius: 10px;
  font-size: large;
  cursor: pointer;
}

#popular-destination{
  /* background-color: aqua; */
  padding:10%

}
#pd-heading{
  display: flex;
  /* background-color: burlywood; */
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#left-pd-heading h1{
  font-size: 40px;
  
}


#left-pd-heading p{
  color: gray;
  
}

#right-pd-heading{
  display: flex;
  /* background-color:blue; */
  width: 70px;
  justify-content: space-between;
}

.arrow{
  border: 3px solid black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  color: black;
  cursor: pointer;
  background-color: lightgray;
}

#pd-galary{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
}

#pd-galary .card{
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  


}

.card-img{
  background-image: url("./utils/homePage-poster.jpg");
  height: 200px;
  
}

.card .card-dtl{
  padding: 20px 10px;
}

.card-info{
  
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}
.title {
  text-align: center;
  margin-bottom: 20px;
}
.offers {
  display: flex;
  justify-content: space-between;
}
.offer {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}
.offer img {
  width: 100%;
  border-radius: 10px;
}
.offer .discount {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: orange;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}
.offer .price {
  font-size: 24px;
  margin: 10px 0;
}
.offer .details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.offer .details div {
  display: flex;
  align-items: center;
}
.offer .details div img {
  margin-right: 5px;
}
.offer .location {
  margin-bottom: 10px;
}
.offer .view-details {
  background-color: orange;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  display: block;
}

#Article-container{
  display: flex;
  background-color: aqua;
  width: 80%;
  margin-left: 10%;
  box-sizing: border-box;
}
#Article-img{

}